body {
    background-color: var(--color-bg);
    color: var(--color-text-main);
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-text-main);
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}