:root {
    //color//
    --color-bg: #84A178;
    --color-text-main: #FCFCFC;
    --color-text-sec: #131313;
    --color-text-th: #ABABAB;
    --color-links-first: #D6936D;
    --color-yellow: #F8D24E;

    //fonts//
    --font-main: 'Montserrat';
    --font-sec: 'Seymour One';
}

